<?xml version='1.0' encoding='utf-8'?>
<widget id="com.playtv.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PlayTV</name>
    <description>Aplicativo de streaming PlayTV</description>
    <author email="contato@playtv.app" href="https://playtv.app">
        PlayTV Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <platform name="android">
        <preference name="Fullscreen" value="false" />
        <preference name="Orientation" value="portrait" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="AndroidXEnabled" value="true" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <icon density="ldpi" src="www/img/icon.png" />
        <icon density="mdpi" src="www/img/icon.png" />
        <icon density="hdpi" src="www/img/icon.png" />
        <icon density="xhdpi" src="www/img/icon.png" />
        <icon density="xxhdpi" src="www/img/icon.png" />
        <icon density="xxxhdpi" src="www/img/icon.png" />
    </platform>
    <plugin name="cordova-plugin-media" spec="^5.0.0" />
    <plugin name="cordova-plugin-fullscreen" spec="^1.2.0" />
</widget>
